@media (max-width:990px) {
	
/*	.Row {
		width: 96%;
	}*/

/*	#Body .ContentColumn {
		margin-right: 0;
	}
	
	#Panel {
		float: none;
		width: 100%;
	}

	#Panel > div.Box, #Panel > div.MeBox {

	}

	.OtherSeanceDaysBox > p,.DatesBox > p {
		display: inline;
		margin-right: 3px;
	}
	
	.DatesBox p:after {
		content: ",";
	}
	
	.DataList.Movies .Item .ItemContent {
		float:none;
	}
}*/
